





/* start header */

header {
    /* width: 1440px;
    height: 96px; */
    padding: 26px, 120px, 26px, 120px;
    background: #402101CC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.8;
position: fixed;
max-width: inherit;
width: inherit;
left: 50%;
transform: translateX(-50%);
    top: 0;
    backdrop-filter: blur(8px);
    z-index: 1;
}


.header_ul {
    display: flex;
    /* width: 316px;
    height: 22px;
    top: 37px;
    /* left: 120px; */
    /* font-size: 18px;
    list-style: none;
    font-weight: 400;
    line-height: 21.78px;
    justify-content: space-between; */
    column-gap: 60px;
} 


.fa-xmark {
    display: none;
    color: #FFFFFF;
    font-size: 32px;
}

.fa-bars {
    display: none;
}


.header_a{
    font-family: Inter, sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 22px;
    /* text-decoration: none; */
    color: #FFFFFF;
}

.header_a:hover {
    font-size: 19px;
    border-bottom: 2.5px solid #D5906E;
}

.active {
    color: #D5906E;

}


.title_div {
    align-items: center;
    /* justify-content: center; */
    width: 234px;
    height: 44px;
    display: flex;
    font: inter;
    font-size: 36px;
}
.logo1 {
    width: 127px;
    height: 44px;
}

.logo2 {
    margin-left: -10px;
    width: 114px;
    height: 44px;
}
.header_div {
    /* width: 92px;
    height: 24px;
    top: 36px;
    /* left: 1228px; */
    /* display: flex;
    margin-right: 112px;
    align-items: center; */ 
    display: flex;
    align-items: center;
    column-gap: 16px;
}


.signInbutton {
    /* width: 52px;
    height: 19px; */
    border: none;
    background: inherit;
    color: #FFFFFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}
/* .Basket_but{width: 24px;
height: 24px;} */

.Basket_but:hover {
    scale: 1.11;
    filter: drop-shadow(1px 1px 3px #FFFFFF);
}

.header_button:hover {
    border: 1px solid #D5906E;
    border-radius: 5px;
}

.fa-cart-shopping {
    color: #FFFFFF;
    font-size: 24px;
}

.container1 {
    width: min(100%, 1440px);
    margin: auto;
    /* background-image: url("../images/cover1.svg"); */

}

/* AFTER HEADER SECTION */
.after_header{background-image: url("../images/cover1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1Div {
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

    
.section1text {
  
    color: #FFFFFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;


}

.section1text2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    font-family: Inter, sans-serif;
    margin-top: 16px;
    margin-bottom: 56px;
}

.section1button {
  
   
    padding: 12px, 45px, 12px, 45px;
    border-radius: 10px;
    border: 2px solid #D5906E;;
    /* border-color: #D5906E; */
    background: transparent;
    color: #FFFFFF;
    transition: .2s linear;
color: white;
font-size: 16px;
font-family: Inter, sans-serif;
font-weight: 400;
line-height: 24px;
word-wrap: break-word
}
.background_section_button:hover {
    scale: 1.3;
    box-shadow:
        1px 1px 2px #D5906E,
        inset 1px 1px 2px #D5906E;
}



/* Start section 2 */
.section2 {
    margin-top: 160px;
    margin-bottom: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
}

.section2div {
    display: flex;
    column-gap: 24px;
}

.section2text {
    margin-top: 16px;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #B53B1B;
    text-align: center;

}

/* start gallery section */
.section3 {
    padding-top: 96px;
    padding-bottom: 96px;
    background: #402101;
}

.section_3_title {
    margin-bottom: 40px;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;
    text-align: center;
}
.section3maindiv {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.gallerydiv1,
.gallerydiv2 {
    display: flex;
    column-gap: 40px;
    justify-content: center;

}
.section3_pictures:hover {
    border-radius: 10px;
    scale: 1.01;
    box-shadow: 0 0 8px #b6814d;
}

.section3_pictures {
    object-fit: cover;
}
/* latest profucts section */
.latest_texts {
    margin-bottom: 40px;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #402101;
    text-align: center;
}

.latest_div {
    display: flex;
    align-items: center;
    column-gap: 24px;
    justify-content: center;
}

/* subscrine section */
.subscribe_div {
    background-image: url(../images/subscribecover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribeSection {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.subscribe_text {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;

}

.section5_form_input {
    display: flex;
    align-items: center;
}


.section5_form_input {
    width: 331px;
    padding: 19px;
    background-color: transparent;
    outline: none;
    border: 1px solid #FFFFFF;
    border-radius: 10px 0 0 10px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.section5_form_input::placeholder {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
}
.section5_form_button {
    width: 151px;
    padding: 17px 26px;
    border: none;
    border-radius: 0 10px 10px 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #402101;
    animation-name: BUTTON;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

@keyframes BUTTON {
    0% {
        color: inherit;
        font-weight: inherit;
    }

    100% {
        color: #a65831;
        font-weight: 800;
    }

}
/* beffore footer section */
.beforeFooter {
    padding-top: 160px;
    padding-bottom: 160px;
    align-items: center;
}

.beforeFooter_title {
    margin-bottom: 40px;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #402101;
    text-align: center;

}

.beforefooterMain_div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
}
.articles{  display: flex;
    column-gap: 24px;
}

.beforefooter1,
.beforefooter2, 
.beforefooter3 {
    display: flex;
    column-gap: 24px;
    padding: 8px 8px 24px 8px;
    width: 384px;
    background: rgba(213, 144, 110, 0.3);
    border-radius: 8px;
}
.beforefooter1,
.beforefooter2 {padding: 8px 8px 24px 8px;}

.beforefooter3{
padding: 8px 8px 48px 8px;}

.beforefooterText1 {
    margin-bottom: 16px;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #B53B1B;

}

.beforefooterText2 {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #402101;

}

.beforeFooterLastDiv {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.beforeFooterQuestion {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #402101;
    text-align: center;

}

.beforeFooterButton {
    padding: 12px 52px;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFF;
    background-color: #B53B1B;
    border: none;
    border-radius: 10px;
    animation: BUTTON2 infinite 2s;

}

.beforeFooterButton:hover {
    scale: 1.07;
    box-shadow: 0 0 5px #c67b68;
}

@keyframes BUTTON2 {
    0% {
        color: #FFFFFF;
    }

    100% {
        color: #663a0e;
    }
}

/* start footer */
footer {
    padding: 32px 120px;
    display: flex;
    justify-content: space-between;
    background-color: #402101;
}

.helpText {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
}
.helpText1 {
    margin-top: 16px;
    margin-bottom: 8px;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #FFFFFF;

}

.helpText2 {
    margin-bottom: 32px;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #FFFFFF;
}
.instagram {
    margin-inline: 24px;
}
.instagram:hover {
    scale: 1.25;
}
.contact_div {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.contact_div {
    margin-top: 16px;
    margin-bottom: 16px;
}
.contact_text {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #FFFFFF;

}